body, h1,h2,h3,h4,h5,h6,p{ 
	margin: 0;
	padding: 0;
}

.error {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.error h1{
	font-size: 72px;
	color: red;
	letter-spacing: 5px;
	margin-bottom: 15px;

}

.blog {
	display: flex;
}

.users {
	background-color: rgb(255, 200, 129);
}

.user {
	display: flex;
	align-items: center;
	min-height: 80px;
    min-width: 360px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 2px solid rgb(255, 168, 54);
	cursor: pointer;
	transition: all .4s ease;
}

.user:hover {
	background-color: rgb(255, 168, 54);
}

.user h4, 
.user p {
	transition: all .4s ease;
}

.user:hover h4, 
.user:hover p {
	color: #fff;
}

.avatar {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.avatar img{
	max-width: 100%;
	vertical-align: middle;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding: 5px 0;
}

.content p{
	margin-bottom: 5px;
}

.user .button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	max-width: 30%;
	padding: 5px;
	font-size: 14px;
	color: inherit;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	transition: all .4s ease;
}

.button.active,
.button:hover{
	color:rgb(255, 168, 54);
}

.container {
	
	background-color: rgb(255, 242, 219);
}

.dynamic-content{
	padding: 10px;
}

.width {
	width: 75%;
}

.loading-image {
	position: fixed;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
	background: url(../img/img-loading.svg)center no-repeat;
	width: 200px;
	height: 200px;
}

.post {
	padding: 10px;
}

.post h2{
	margin-bottom: 15px;
	text-transform: capitalize;
}

.post p{
	margin-bottom: 15px;
}

.view-comments {
	margin-bottom: 10px;
}

.view-comments .comment {
	display: none;
}

.view-comments.active .comment {
	display: block;
}

.comment h6{
	text-transform: capitalize;
}

.album {
	display: flex;
	align-items: center;
}

.album .content{
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 14px;
	background: #fff;
	min-height: 100px;
	transition: all .4s ease;
	cursor: pointer;
}

.album .content:hover{
	background-color: #FFC881;
}

figure {
	text-align: center;
}

figure img{
	margin-bottom: 10px;
}

figure figcaption{
	font-weight: 500;
	color: #464646;
	font-style: italic;
}