// ------------------------------------------------------------------------------------------------
// CLASS HELPER
// ------------------------------------------------------------------------------------------------

.primary-color {
	color: $primary-color;
}

.absolute {
	@include absolute;
}

.spacing-row-bottom-50 {
	
	margin-bottom: 50px;
}

.spacing-bottom-40 {

	> [class*="col-"] {
		margin-bottom: 40px;
	}
}

.spacing-bottom-30 {
	
	> [class*="col-"] {
		margin-bottom: 30px;
	}	
	
	.spacing-bottom-0 {
		margin-bottom: 0;
	}
}



// ------------------------------------------------------------------------------------------------
// PRIMARY PAGE STYLE
// ------------------------------------------------------------------------------------------------

.container {
	max-width: 1210px;
}

// ------------------------------------------
// HEADER
// ------------------------------------------

.header-general {

	
	color:rgba(16, 16, 16, 0.8);
	
	p {
		margin-bottom: 0;
	}

	a {
		color: inherit;

		&:hover {
			color: $primary-color;
		}
	}

	ul {
		list-style: none;
	}
	
	ul,
	ol,
	li {
		margin-bottom: 0;
		padding-left: 0;
	}
}

.header-top {
	background-color: $primary-color;
	font-size: 13px;

	.header-row-inner {
		height: 40px;
	}

	.content {
	display: flex;
	align-items: center;
	min-height: 20px;

	div {
		padding-left: 10px;
		padding-right: 10px;
		border-right: 1px solid rgba(255,255, 255, 0.1);

		&:last-child {
			padding-right: 0;
			border-right: none;
		}
	}

	.usd, .usa {
		text-transform: uppercase;
		cursor: pointer;

		i {
			color: rgba(255,255, 255, 0.4);
			margin-left: 5px;
			font-size: 12px;
		}
	}

	.usa {

		img {
			width: 20px;
			margin-right: 5px;
		}
	}
	
}
}

.contact {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}



  
.header-main {
	font-size: 13px;
	
	.header-row-inner {
	  height: 100px;
	}
}

.logo {
	width: 150px;
	flex-shrink: 0;
}

.header-actions {
	display: flex;


	i {
		font-size: 20px;
		margin-right: 5px;
	}

	div {
		display: flex;
		align-items: center;
		margin-right: 20px;
		white-space: nowrap;

		&:last-child {
			margin-right: 0;
		}
	}

	span {
		color: rgba(16, 16, 16, 0.5);
	}

	a {
		display: inline-flex;
		align-items: center;
	}
}

  
.header-bottom {
	border-bottom: 1px solid #F5F5F5;
    margin-bottom: 20px;
	
	.header-row-inner {
	  height: 60px;
	}
}
  
.header-row-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// ------------------------------------------
// HEADER COLUMNS
// ------------------------------------------
  
.header-col {
	display: flex;
	flex-grow: 1;
}
  
.header-col-left {
	padding-right: 15px;
}
  
.header-col-right {
	padding-left: 15px;
	justify-content: flex-end;
}


// ------------------------------------------
// MAIN NAV
// ------------------------------------------

.header-menu {

	li {
	  
		a {
		  display: flex;
		  align-items: center;
		  height: 60px;
		}
	}
}

.main-nav-wrapper {
	margin-left: -15px;
}

.main-nav {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	padding: 0;

	li {
		position: relative;
		padding: 0;

		a {
			padding-left: 15px;
			padding-right: 15px;

			i {
				width: 20px;
				text-align: center;
			}

			span {
				position: relative;
			
				&::after {
					content: "";
					position: absolute;
					bottom: -19px;
					left: 0;
					right: 0;
					height: 3px;
					background-color: $primary-color;
					opacity: 0;
					visibility: hidden;
					transition: $transition;
				}
			}
		}

		&:hover,
		&.active {
			a {
				span {
					&::after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
  
.header-col-left {
  
	.main-nav {
	   margin-left: -15px;
	}
}
  
  
.header-col-right {
  
	.main-nav {
	   margin-right: -15px;
	}
}

// ------------------------------------------
// VERTICAL MENU
// ------------------------------------------

.vertical-menu-wrapper {
	max-width: 295px;
    margin-right: 5px;
}

.vertical-menu {
	position: relative;
	min-width: 280px;
	background-color: $primary-color;

	> li:first-child {
		>a {
			&:hover {
				color: #fff;
			}

			i {
				color: #fff;

				&:first-child {
					text-align: center;
					margin-left: 18px;
					margin-right: 18px;
				}
				
			}
		}
	
	}
	
	li {
		display: flex;
		align-items: center;
		cursor: pointer;
		
		i {
			color: rgba(16, 16, 16, 0.4);
			
			&:first-child {
				margin-left: 30px;
			}

			&:last-child {
				margin-right: 30px;
			}
		}

		a {
			flex-grow: 1;
		}

		span {
			flex-grow: 1;
		}

	}

	> li {

		> a {
			color: #fff;
		}
	}
}

.sub-menu {
	position: absolute;
    top: 100%;
	left: 0;
	width: 100%;
    border: 1px solid rgba(16, 16, 16, 0.05);
    background-color: #fff;
    z-index: 1;
	
	li {
	  position: relative;

		a {
		  height: 50px;
		}

		&:not(:last-child) {
			
			&::after {
				content: "";
				position: absolute;
				left: 20px;
				right: 20px;
				bottom: 0;
				height: 1px;
				background-color: rgba(16, 16, 16, 0.05);
			}
			
		}
	}
	
}

.burger {
	display: none;
	font-size: 30px;
	color: $primary-color;
	padding: 10px;
	line-height: 1;
    margin-right: -10px;
}

// ------------------------------------------
// FIRST SCREEN
// ------------------------------------------
.first-screen {
	margin-bottom: 80px;
}

.slider-wrapper {
	margin-left: 300px;
}

.slider-nav {
    position: absolute;
    bottom: 20px;
    left: 40px;
    display: flex;
    align-items: center;
	font-family: "Spartan", sans-serif;
    color: rgba(255, 255, 255, 0.2);
    line-height: 1;
    font-size: 15px;

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 40px;
		transition: $transition;
		cursor: pointer;
		
		
		&.active {
			font-size: 20px;
		}

		&.active,
		&:hover {
			color:  rgba(255, 255, 255, 0.7);
		}

		&.arrow {
			font-size: 16px;
			color: rgba(255, 255, 255, 0.3);
			
			&.active,
			&:hover {
				color:  rgba(255, 255, 255, 0.7);
			}
		}
	}

	
}

// ------------------------------------------
// PRODUCTS
// ------------------------------------------

.products {
	margin-bottom: 40px;
}

.head-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	.title {
		margin-right: 20px;
		margin-bottom: 0;
	}
}

.tabs-menu {
	list-style: none;
    margin-bottom: 0;
    padding-left: 0;

	display: flex;


	li {
		position: relative;
		margin-bottom: 0;

		a {
			
			position: relative;
			color: rgba(16, 16, 16, 0.7);
			padding-left: 20px;
			padding-right: 20px;

			span {

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 18px;
					right: 18px;
					height: 3px;
					background-color: $primary-color;
					opacity: 0;
					visibility: hidden;
					transition: $transition;
				}
			}
		}

		&.active {
			a {
				font-weight: 500;
			}
		}

		&:hover,
		&.active {
			
			a {
				color:rgba(16, 16, 16, 0.9);

				span {
					&::after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

// ------------------------------------------
// BEST CATEGORY
// ------------------------------------------

.best-category {
	background-color: $second-color;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 80px;

	.title {

		h2 {
			margin-bottom: 20px;
		}
	}
}

.banner-slider-nav {
	position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: flex-start;
    font-family: "Spartan", sans-serif;
    color: rgba(51, 51, 51, 0.3);
    line-height: 1;
    font-size: 20px;

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		transition: all 0.4s ease;
		cursor: pointer;

		&.active,
		&:hover {
			color: rgba(51, 51, 51);
		}
	}
}

// ------------------------------------------
// PROMOTIONS
// ------------------------------------------

.promotions {
		
	.banner {

		.title {
			margin-bottom: 0;

			.subtitle {
				font-size: 12px;
			}
		}
	}	
}

// ------------------------------------------
// REVIEWS
// ------------------------------------------

.reviews {
	background-color: $second-color;
	padding-top: 60px;
	padding-bottom: 50px;
}