// ------------------------------------------------------------------------------------------------
// RESPONSIVE
// ------------------------------------------------------------------------------------------------

@media (min-width: 1200px) {
	.custom-col-20 {
		position: relative;
		flex: 0 0 20%;
		padding-right: 15px;
		padding-left: 15px;
		max-width: 20%;

		.button {

			&.adapts {
				font-size: 0;
				padding: 0 15px;
				
				.hidden-i {
					opacity: 1;
					visibility: visible;
					margin-left: 0;
	
					i {
						font-size: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.button {

		&.adapts {
			font-size: 0;
			padding: 0 15px;
			
			.hidden-i {
				opacity: 1;
				visibility: visible;
				margin-left: 0;

				i {
					font-size: 20px;
				}
			}
		}
	}

	.product {

		.inner	{
			.content {

				.btn-xx-small {
					font-size: 0;
					padding: 0 15px;
					i {
						margin-left: 0;
						font-size: 20px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.header-bottom, .search-wrapper, .header-actions {
		display: none;
	}
	.header-top {
		.header-col-left {
			justify-content: space-between;
			padding-right: 0;
			flex-wrap: wrap;
		}

		.header-col-right {
			display: none;
		}
	}
	.burger {
		display: block;
	}
	.tabs-menu {
		display: none;
	}
	.slider-wrapper {
		margin-left: 0;
	}
}

@media (max-width: 768px) {

	body {
		font-size: 14px;
	}

	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 20px;
	}
	
	h1 {
		font-size: 38px;
	}
	
	h2 {
		font-size: 28px;
	}
	
	h3 {
		font-size: 22px;
	}
	
	h4 {
		font-size: 18px;
	}
	
	h5 {
		font-size: 15px;
	}
	
	h6 {
		font-size: 13px;
	}

	p {
		margin-bottom: 15px;
	}
	
	.banner {

		.content-wrapper {
			padding: 20px;
		}
	}

	.button {
		padding: 12px 28px;

		&.swatch {
			width: 26px;
			height: 26px;
		}
	}

	.first-screen {
		margin-bottom: 40px;
	}

	.slider-nav {
		bottom: 0;
	}
}

@media (max-width: 576px) {

	body {
		font-size: 11px;
		line-height: 1.1;
	}

	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 10px;
	}
	
	h1 {
		font-size: 26px;
	}
	
	h2 {
		font-size: 24px;
	}

	p {
		margin-bottom: 10px;
	}
	
	.banner {

		&.banner-large {

			.content {
				max-width: 100%;
			}

			.btn-wrapper {

				.button {

					&:not(:last-child) {
						margin-right: 16px;
					}
				}
			}
		}
	}

	.button {
		padding: 10px 26px;
		font-size: 12px;

		&.swatch {
			width: 24px;
			height: 24px;
		}
	}
}


@media (max-width: 360px) {
	.header-top {
		display: none;
	}
	.banner-large {
		.content {
			p {
				display: none;
			}
		}
	}


}